.testimonials {
  @include flex(column, center, center);
  display: none;

  .testimonialsMain {
    @include flex(column, center, center);
    margin-bottom: 40px;

    .testimonialsMain__img {
      max-width: 1000px;
      margin-bottom: 50px;
      // @extend .aboutStairs__img;
    }

    .testimonialsMain__h2 {
      @include font($h2-font, bold, none);
      max-width: $container-desktop-width;
      text-align: center;
      // @extend .aboutStairs__h1;
    }

  }

  .testimonials__info {
    // @include flex();

    .info__p {
      max-width: 900px;
      text-align: center;
      @include font($regular-font, normal, none);
      margin-bottom: 20px;
    }
  }
}