// tamaño de fuentes
$h2-font: 60px;
$h3-font: 40px;
$buttons-font: 45px;
$regular-font: 30px;
// colores estandar
$color-oscuro: #1a1a1a;
$color-claro: #fffdf8;
$color-gris-oscuro: #272623ec;
// colores particulares
$color-amarillo: #fab610;
$color-turquesa: #60bfbb;
$color-rojo: #e94f24;
$color-violeta: #7183b8;
$color-azul: #324260;
$color-celeste: #93a1b8;
// medidas estandar
$container-desktop-width: 1000px;